export ENV_NAME=dev
export MONITOR_PORT=4000
export JSBIN_PORT=4001
export CLOUD9_PORT=4002
export PLATFORM_PORT=4003
export EXPORT_DIR=/tmp/scripted
export MYSQL_DB_NAME=scripted_jsbin_dev
export MYSQL_USER=scripted
export MYSQL_PASSWORD=scripted
export BRANCH=scripted/dev


export JSBIN_REPO_URL=https://github.com/ScriptEdcurriculum/platform-jsbin.git
#export PLATFORM_REPO_URL
#export CLOUD9_REPO_URL

